<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">


</head>
<body>

    <section class="blog padding-bottom-90 pt-page"  id="blog" th:fragment="myMlog">

    <!--  -->
    <input type="hidden" id="order" value="new">
    <input type='hidden' id='currentPage' value='1'>
    <input type='hidden' id='categoryId' value=''>



    <div class="content">
        <div class="container">
            <div class="sec_title">
                <h2>My Blog</h2>
                <ul class="nav nav-pills" id="#myTabs" style="float: right">
                    <li role="presentation" class="active newBtn"><a href="javascript:;">最新</a></li>
                    <li role="presentation" class="hotBtn"><a href="javascript:;">最热</a></li>
                    <li role="presentation">
                        <select style="height: 34px;border: none;background-color: white;" id="blog_category" onchange="changeCategory()">
                           <!-- <option value="">分类</option>-->
                        </select>
                    </li>
                    <li><input type="text" id="keyword" class="form-control" placeholder="Search"></li>
                    <li><button type="submit" class="btn btn-default" onclick="searchBlog()">搜索</button></li>
                </ul>
            </div>

            <!--    文章列表
            <div class="row">
                 //article 1
                <div class="col-sm-6">
                    <div class="item">
                        <a href="#">
                            <div class="blog__img">
                                <i class="pe-7s-news-paper"></i>
                                <img src="images/blog-1.jpg" th:src="@{/home-imgs/blog-1.jpg}" alt="">
                            </div>
                        </a>
                        <div class="content matchH" style="height: 92px;">
                            <p class="info">March 19, 2018</p>
                            <h3>
                                <a href="#">100 Ways to be more happy</a>
                            </h3>
                        </div>
                    </div>
                </div>
                  //article 2
                <div class="col-sm-6">
                    <div class="item">
                        <a href="#">
                            <div class="blog__img">
                                <i class="pe-7s-news-paper"></i>
                                <img src="images/blog-2.jpg" th:src="@{/home-imgs/blog-2.jpg}" alt="">
                            </div>
                        </a>
                        <div class="content matchH" style="height: 92px;">
                            <p class="info">March 19, 2018</p>
                            <h3>
                                <a href="#">Tips to losing more weight</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            -->

            <!-- 文章列表 -->
            <div class="row" id="blog_bloglist">
                <!--<div class="col-sm-6">
                    <div class="item">
                        <a href="#">
                            <div class="blog__img">
                                <i class="pe-7s-news-paper"></i>
                                <img src="images/blog-1.jpg" th:src="@{/home-imgs/blog-2.jpg}" alt="">
                            </div>
                        </a>
                        <div class="content matchH" style="height: 92px;">
                            <p class="info">March 19, 2018</p>
                            <h3>
                                <a href="#">Tips to losing more weight</a>
                            </h3>
                        </div>
                    </div>
                </div>-->
            </div>







        </div>
        <!--.container-->
    </div>

    <!-- 分页  -->
    <nav aria-label="...">
        <ul class="pager" id="blog_Pagination">
          <!--  总：10页
            <li><a href="#">Previous</a></li>
            第:&nbsp;&nbsp;1&nbsp;&nbsp; 页
            <li><a href="#">Next</a></li>-->
        </ul>
    </nav>

    <!--.content-->
</section>





</body>
</html>